@import url('https://fonts.google.com/specimen/Red+Hat+Display');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-color: #E1E8FE;
    background-image: url("/images/pattern-background-desktop.svg");
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    place-content: center;
    place-items: center;

}

p {
    margin: 5%;
    font-size: 16px;
}

button {

    font-size: 16px;
}

button .primary {
    background-color: hsl(223, 47%, 23%);
    box-shadow: 0px 0px 10px hsl(223, 47%, 23%);
}

.plan {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    background: hsl(225, 100%, 98%);
    padding: 5%;
    margin: 2%;
}

.plan a {

    color: hsl(245, 75%, 52%);
    text-decoration: underline;

}

.plan a:hover {
    color: hsl(224, 23%, 55%)
}

button {

    border: none;

    margin-top: 20px;
}

.primary {
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bolder;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(56, 40, 224, 0.6);
    box-shadow: 0px 10px 15px 0px rgba(56, 40, 224, 0.6);
}

.primary:hover {
    background-color: hsl(224, 23%, 55%);
}

.secondary {
    background-color: hsla(223, 47%, 23%, 0);

    width: max-content;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    color: rgb(117, 117, 117);

    font-weight: bolder;
}

.secondary:hover {
    color: hsl(223, 47%, 23%);
}

.plan .img-icon img {

    width: 50px;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(195, 199, 255, 0.733);
    margin: 5% auto;
    max-width: 400px;

    width: 100%;
}

.card-header img {
    object-fit: cover;
    border-radius: 20px 20px 0% 0%;
    width: 100%;
}

i {
    line-height: 1.5;
    color: rgb(117, 117, 117);

}

.card-body {
    padding: 30px;
}

.card-body h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: hsl(223, 47%, 23%);
}

.card-body p {
    text-align: center;
    color: rgb(117, 117, 117);

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    cursor: pointer;
}

.img-icon {
    flex: 20%;
}

.plan-text {
    flex: 40%;

}

.plan {
    place-content: center;
    place-items: center;
}

.bold {
    font-weight: bolder;
}

.tilte {
    color: hsl(223, 47%, 23%);
}

.enlace {

    flex: 20%;

}

@media screen and (max-width:375px) {
    body {
        background-repeat: no-repeat;
        background-color: #E1E8FE;
        background-image: url('/images/pattern-background-mobile.svg');
    }
    .card {
        width: 90vw;
        height: 85vh;
      }
      .card img {
        height: 28vh;
      }
}